{% extends 'base_theme.html.twig' %}

{% block title %}Edit Producto{% endblock %}

{% block _main %}
    <h1>Edit Producto</h1>

    {{ include('producto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_producto_index') }}">back to list</a>

    {{ include('producto/_delete_form.html.twig') }}
{% endblock %}
