{% extends 'base_theme.html.twig' %}
{% import 'macro/action.html.twig' as action %}

{% block title %}New Producto{% endblock %}

{% block _main %}
    <h1>Create new Producto</h1>

    {{ include('producto/_form.html.twig') }}

    {{ action.btn_regresar(path('app_producto_index')) }}


{% endblock %}
